body {
    margin: 0;
    height: 100vh;
}
.container {
    display: flex;
    height: 100%;
    flex-direction: column;
}
nav {
    height: 50px;
    background-color: #CCC;
}
section {
    flex: 1;
    background-color: #EEE;
}
footer {
    height: 100px;
    background-color: #CCC;
}
nav ul, nav li {
    margin: 0;
    padding: 0;
    list-style: none;
}
nav ul {
    display: flex;
}
nav li {
    flex: 1;
    height: 100%;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
}
nav li:hover {
    background-color: #DDD;
}
nav li.active {
    background-color: #EEE;
    font-weight: bold;
}
.add_tab {
    flex: none;
    width: 50px;
    background-color: #999;
    font-size: 25px;
}
